* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #284c79;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.App-content .buttonWrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.App-content button {
  border: none;
  background: red;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 0.5rem;
}

.App-content button:hover {
  background: #fff;
  color: red;
}